.env

__pycache__

*/__pycache__/
**/*/__pycache__/

sqltools_*

# System Files
.DS_Store
/.DS_Store
Thumbs.db

.vscode/

/static/
/media
!/media/tests
!/media/templates/

.coverage

celerybeat-schedule.db

*.swp
*.swo

venv

.python-version
.idea/
/node_modules/
